.main1{
    text-align: center;
    background-color: black;
}
.main2{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.imgmain1{
    height: 17px;
    /* background-color: #fff;: red; */
}
.container{
    background-color: black;
    height: 700px;
}
.main3{
    margin-top: 30px;
    display: flex;
    gap: 250px;
}
.main3 > div > p{
    color: white;
    justify-content:left
    
}
.main3 > div > div >p{
    color: white;
}
.main3 > div > input{
    height: 50px;
    width: 310px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-bottom: 1px solid white;
    font-size: medium;
}
.main3 > div > button{
    height: 38px;
    color: white;
    background-color: rgb(252,38,120);
    border-radius: 5px;
    border: 1px solid rgb(252,38,120);
    width: 100px;
    font-size: large;
    margin-top: 20px;
}
.div4 > div > a{
    color : rgb(153 , 153 , 153) ;
    font-size : 17px ;
    text-decoration : none ;
    margin-top : 15px;
    
}
.div4 > div > a:hover{
    text-decoration: underline;
    color:white;
}
.div4 >  p{
    text-align: left;
}

.detail > p{
    color:Red;
}
/* 
.maill p:hover {

    color: white;
} */
.center{
    color:white;
    font-size: 1.2rem;
}