#main {
  height: auto;
  margin-bottom: 50px;
}

#parent {
  height: auto;
  width: 95%;
  margin: auto;
  border-radius: 10px;
  background-color: white;
  margin-top: 100px;
  /* border:1px solid red; */
  display: flex;
}
.firstHalf
{
  width: 50%;
}
#p {
  font-size: 15px;
  color: #6c757d;
  font-family: "Quicksand";
  text-align: left;
  margin-left: 30px;
}

#div {
  height: auto;
  width: 700px;
  background-color: #e0e0e0;
}
#p2 {
  font-size: 17px;
  color: #6c757d;
  font-family: "Quicksand";
  text-align: left;
  margin-left: 30px;
}
#instant {
  /* border:1px solid red; */
  border: 1px solid #b1b2b4;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  background-color: #f1eeee;
}

#upi {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #6c757d;
  width: 400px;
  margin-left: -250px;
}
#upi:focus {
  border-color: #6c757d;
}

#p3 {
  font-size: 13px;
  color: #6c757d;
  font-family: "Quicksand";
  cursor: pointer;
  text-align: left;
  margin-left: 30px;
}

/* #p3:hover #inpHold{
      display: block;
  } */

#inpHold {
  background-color: white;
  height: 40px;
}
#formHold {
  background-color: white;
}
#options {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  grid-template-rows: repeat(4, 30px);
  justify-content: center;
  gap: 7px;
  background-color: white;
  border: 1px solid #d3d9de;
}
#options > div {
  display: flex;
}
#img {
  height: 25px;
  width: 25px;
  object-fit: cover;
}
#div1 {
  /* border:1px solid red; */
  justify-content: space-between;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#div1 > p {
  margin-right: 150px;
  font-size: 15px;
  color: #6c757d;
  font-family: "Quicksand";
}
#card {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #6c757d;
  width: 400px;
  margin-left: -250px;
  margin-top: 20px;
}
#cvv:focus {
  border-color: #6c757d;
}
#holder {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #6c757d;
  width: 400px;
  margin-left: -250px;
  margin-top: 40px;
}
#cvv:focus {
  border-color: #6c757d;
}
#expHold {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
#expiry {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #6c757d;
  width: 200px;
  margin-left: 25px;
}
#expiry:focus {
  border-color: #6c757d;
}
#cvv {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #6c757d;
  width: 200px;
  margin-right: 25px;
}
#cvv:focus {
  border-color: #6c757d;
}

#check {
  margin-top: 10px;
  margin-left: 20px;
}
#p4 {
  font-size: 13px;
  color: #6c757d;
  font-family: "Quicksand";
  text-align: left;
  margin-left: 15px;
}
#banks {
  display: flex;
}
#logoHold {
  height: 40px;
  width: 100px;
  display: flex;
  /* border:1px solid red; */
  margin-left: 10px;
  margin-top: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 7px;
  cursor: pointer;
}
#logo {
  height: 38px;
  width: 40px;
  object-fit: cover;
}
#inpHold2 {
  background-color: white;
  height: 80px;
}
#btnHold {
  display: flex;
  margin-top: 10px;
}
#btn1 {
  background-color: #f1eeee;
  border: 1px solid #6c757d;
  width: 180px;
}
#btn1 > a {
  color: #6c757d;
  font-size: 13px;
  font-family: "Quicksand";
  text-decoration: underline;
}
#btn2 {
  background-color: #212529;
  color: #ffffff;
  width: 520px;
  height: 30px;
  font-size: 13px;
  font-family: "Quicksand";
  margin-left: 10px;
}
.imas {
  margin-left: 10px;
  height: 60px;
  width: 50px;
}
.MainDiv {
  margin: auto;
  width: 98%;
  display: flex;
  text-align: left;
margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 3px;
}
.cartname {
  font-family: Neutra_Display_Titling;
  margin: auto;
  width: 300px;
  font-size: 17px;
  font-weight: 550;
  color: gray;
}
.deleteIcan {
  margin:auto;
  width: 25px;
  height: 25px;
  position:relative;
}

.price {
  margin: auto;
  margin-right: 20px;
}
.price > button {
  border: 0.5px gray solid;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  height: 30px;
  cursor: pointer;
  border-radius: 50px;
  background-color: white;
}
.GrandPricediv
{
  margin: auto;
}